@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --dark-blue: #003764;
    --green: #3bd4ae;
    --dark-green: #165116;
    --lime: #a4faa3;
    --light-blue: #00aede;
    --light-blue2: #1CC9F7;
    --red: #ff647d;
    --purple: #b14fc5;
    --orange: #ff7f30;
    --yellow: #e1d355;
    --dark-blue2: #004764;
    --dark-blue3: #13005A;
    --green-2: #19FEC5;
}
body {
    background-image: linear-gradient(to top right, var(--green), var(--light-blue));
    font-size: 14pt;
    font-family: 'Poppins', sans-serif;
}

.result {
    img {
        max-width: 50vw;
    }
    td {
        padding: 1rem;
    }
    #result-text {
        vertical-align: top;
        p {
            height: 19rem;
            overflow-y: scroll;
            border: 1px solid var(--dark-blue);
            padding: 2rem 1rem;
        }
    }
}

h1 {
    // color: var(--dark-blue);
    color: var(--dark-blue);
    font-weight: bold;
}
hr {
    border-width: 2px;
    border-color: var(--dark-blue2);
}
.navbar, .footer {
    border-radius: 0;
}
.footer {
    background-color: #004864d6;
    color: whitesmoke;
    padding: 1.5rem;
    text-align: center;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: circle;
        li { margin-left: 3rem; }
    }
    img {
        max-width: 100px;
    }
}
.navbar {
    position: sticky;
    top: 0;
    background-color: #004864d6;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.navbar-nav {
    .navbar-brand {
        color: white;
        font-size: 20pt;
    }
    .btn {
        margin: 0 0.5rem;
    }
    height: 5.5rem;
    display: flex;
    align-items: center;
}
.navbar-header, .navbar2 {
    display: flex;
    align-items: center;
    height: 100%;
}
.heroblock {
    margin: auto;
    td {
        padding: 20px;
    }
    img {
        max-width: 400px;
    }
}
#hero-1 {
    height: 250px;
    width: 250px;
    object-fit: none;
    object-position: 86% 17%;
    border-radius: 15px;
}
#hero-2 {
    height: 250px;
    width: 250px;
    object-fit: none;
    object-position: 17% 15%;
    border-radius: 15px;
}
.btn {
    border-radius: 50px;
    padding: 0.5rem 2rem;
    color: white;
    transition: ease-in 0.5s;
}
.btn:hover {
    color: white;
    filter: brightness(1.2);
    transition: ease-in 0.5s;
}
.btn-dark-blue {
    background-color: var(--dark-blue);
}
.btn-light-blue {
    background-color: var(--light-blue);
}
.btn-red {
    background-color: var(--red);
}
#upload {
    background: url(getty_1316737_2000135220009280329_56908.jpg);
    height: 20rem;
    background-size: 100%;
    background-position: 0 10%;
    width: 100%;
}
#upload-2 {
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .custom-file-input {
        background-color: var(--light-blue);
    }
    form {
        background-color: #1cc8f7c6;
        padding: 3rem;
        border-radius: 15px;
        backdrop-filter: blur(15px);
    }
}
.food-cell {
    text-align: center;
    img {
        max-width: 250px;
    }
}