{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>AllerScan: {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'aller_scan/styles.css' %}"
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">AllerScan</a>
                </div>
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'scan' %}">Scan</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'account' %}">{{ user.username }}</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main class="container">
        {% block body %}
        {% endblock %}
    </main>
</body>
<footer class="footer">
    A project for Hub&Hack by Team Byte Busters.
    <br>
    Credit:
    Kyaw Zay Ya Lin Tun | Kaung Pyae Htet | Thaw Zin Thant | Swan Tayza Aung | Minn Thant Kyaw | Htet Nay Min
    </ul>
</footer>
</html>